In [73]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [74]:
# Get the url
url='https://en.wikipedia.org/wiki/World_Heritage_Sites_by_country'
page=requests.get(url)
page.encoding='utf-8'
# Beautify
soup=BeautifulSoup(page.text, 'html')

In [96]:
# Extract the table with the cultural heritage data
table=soup.find_all('tr')
world_titles=table[0]
world_titles=world_titles.find_all('th')
world_titles=[i.text.strip() for i in world_titles]
titles = [re.sub(r'\[.*?\]', '',i) for i in world_titles]
print(titles)

['Country', 'Cultural sites', 'Natural sites', 'Mixed sites', 'Total sites', 'Shared sites', 'UNESCO region']

In [97]:
df=pd.DataFrame(columns=titles)
df

Empty DataFrame
Columns: [Country, Cultural sites, Natural sites, Mixed sites, Total sites, Shared sites, UNESCO region]
Index: []

In [98]:
column_data=soup.find_all('tr')
for i in range(1,170):    # There are 168 countries
    row_data = column_data[i]
    individual_data=[data.text.strip() for data in row_data]
    individual_row_data= [re.sub(r'\[.*?\]', '',row) for row in individual_data]
    heritage = [element for index, element in enumerate(  individual_row_data) if index not in [0, 2, 4, 6, 8, 10, 12]]
    length = len(df)
    df.loc[length] = heritage

In [99]:
df

,Country,Cultural sites,Natural sites,Mixed sites,Total sites,Shared sites,UNESCO region
0,Afghanistan,2,,,2,,Asia and the Pacific
1,Albania,2,1,1,4,2,Europe and North America
2,Algeria,6,,1,7,,Arab States
3,Andorra,1,,,1,,Europe and North America
4,Angola,1,,,1,,Africa
...,...,...,...,...,...,...,...
164,Venezuela,2,1,,3,,Latin America & the Caribbean
165,Vietnam,5,2,1,8,,Asia and the Pacific
166,Yemen,4,1,,5,,Arab States
167,Zambia,,1,,1,1,Africa
168,Zimbabwe,3,2,,5,1,Africa

In [100]:
df.to_csv('Cultural_Heritage_Count.csv', index=False)